.in1{
    margin-left: 550px;
   padding-top: 100px;
}
.btn2{
    height: 40px;
    margin-top: 100px;
}
#form1{
    height: 10px;
    width: 10px;
}
.btn1{
    margin-left: 300px;
    height: 40px;
    margin-top: 100px;
}